[submodule "external"]
	path = external
	url = https://github.com/google/googletest
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/style-configs"]
	path = third_party/style-configs
	url = https://github.com/robojackets/style-configs
