[submodule "external"]
	path = external
	url = https://github.com/google/googletest
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/DoCIF"]
	path = third_party/DoCIF
	url = https://github.com/jgkamat/DoCIF
